<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- TemplateBeginEditable name="doctitle" -->
<title>Documento sin título</title>
<!-- TemplateEndEditable -->
<link rel="stylesheet" href="../css/style.css">
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
</head>

<body>
<div id="header">
         <div id="encabezado" class="a">
             <div id="logo"><p>VALENTE</p></div>      
             <nav>
                <ul>
                 <li><span>BUSCAR</span>&ensp;<img src="../imganes/icons/lupa2.png" width="10px" height="10px"></li>
                 <li><span>COMPARTIR</span>&ensp;<img src="../imganes/icons/corazon.png" width="100px" height="10px"></li>
                </ul>
             </nav>
         </div>  
        <div class="menu">
            
             <input type="checkbox" id="check">
             
             <label for="check" class="icon-menu"><img src="../imganes/icons/menu.png">&ensp;MENU</label>
             
             <nav class="menu2">
                 <ul>
                     <li><a href="../index.html">INICIO</a></li>
                     <li><a href="../misionv.html">¿QUIENES SOMOS?</a></li>
                     <li><a href="../productos.html">PRODUCTOS DESTACADOS</a></li>
                     <li><a href="../marcas.html">TIPOS</a></li>
                     <li><a href="../catagolo.html">CATALOGO</a></li>
                     <li><a href="../contactos.html">CONTACTANOS</a></li>
                 </ul>
             </nav>
  </div>      
     </div>
<!-- TemplateBeginEditable name="seccion" -->
<section>
</section>
<!-- TemplateEndEditable -->
<footer>
  <div id="pie">
      <div id="pie1">
           <div id="pemail"></div>
           <div id="pnosotros" class="p1">
              <span class="navtitulo">NOSOTROS</span>
               <nav>
                  <a href="#">
                   <ul>
                       <li>¿Quienes Somos?</li>
                       <li>Misión Visión</li>
                       <li>Historia</li>
                       <li>Descubrenos</li>
                   </ul>
                   </a>
               </nav>
           </div>
           
           <div id="pmodelosr" class="p1">
                <span class="navtitulo">RELOJES</span>
               <nav>
                  <a href="#">
                   <ul>
                       <li>Relojes</li>
                       <li>Sports</li>
                       <li>Casuales</li>
                       <li>Elegantes</li>
                       <li>Digital</li>
                       <li>Cuarzo</li>
                       <li>Clasicos</li>
                       <li>Skeletons</li>
                   </ul>
                   </a>
               </nav>
           </div>
           
           <div id="ptendas" class="p1">
                <span class="navtitulo">TIENDAS</span>
               <nav>
                  <a href="#">
                   <ul>
                       <li>Casio</li>
                       <li>G &amp; G Accessories</li>
                       <li>Watch Boutique</li>
                       <li>SEIKO</li>
                       <li>Time Factory</li>
                       <li>Breitling Boutique</li>
                       <li>Youroutlet</li>
                   </ul>
                   </a>
               </nav>
           </div>
           <div id="pambos" class="p1">
               <div id="paredesSo">
                 <span class="navtitulo">NUESTROS CANALES</span>
                 <nav>
                     <ul>
                         <li><a href="#"><img src="">Facebook</a></li>
                         <li><a href="#"><img src="">instagram</a></li>
                         <li><a href="#"><img src="">Youtube</a></li>
                         <li><a href="#"><img src="">Twitter</a></li>
                         <li><a href="#"><img src="">Youku</a></li>
                         <li><a href="#"><img src="">Pinterest</a></li>
                     </ul>
                 </nav>
              </div>
               
               <div id="pacontactos">
                   <span class="navtitulo">CONTACTANOS</span>
                   <p>telf: 654-5654/ 055-5555</p>
                   <p>Correo: relojes@gmail.com</p>
                   <p>De lunes a viernes de 9 a 21h</p>
               </div>
           </div>
           <div id="ppagos">
               <span>Formas de pago:</span>
               <div id="ppimgs">
                   <nav>
                       <li><img src="../imganes/icons/visa1.png" width="50px" height="40px" ></li>
                       <li><img src="../imganes/icons/master1.png"  width="60px" height="50px"></li>
                       <li><img src="../imganes/icons/american.png" width="50px" height="40px"></li>
                       <li><img src="../imganes/icons/diner.png" width="60px" height="40px"></li>
                   </nav>
               </div>
           </div>
           <div id="copyr"> &copy;Copyright 2018 Grados Yangali Josh </div>
     </div>
           
    </div>
</footer>
</body>
</html>
